
.CardItem{
    width: 270px;
    height: 430px;
    border-radius: 15px;
    box-shadow: 0 5px 5px #088178;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.Head{
    display: flex;
    justify-content: center;
    background: #E3E6F3;
    border-radius: 10px;
    margin: 10px;
}

.ItemHeader{   
    font-size: 15px;
}

.ItemImg{
    width: 200px;
    text-align: center;
}
