/* BARRA DE NAVEGACION */


.NavBar{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #E3E6F3;
}

.brand{
    margin: 9px;
}

.brand span{
    color: #088178;
}

.Categories{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}

.ActiveOption, 
.Option {
    padding: 10px;
    color: #1a1a1a;
    transition: 0.3s ease
}


.ActiveOption, 
.Option:hover {    
    color: #088178;
}


a{
    text-decoration: none;
    color: black;
}


.CartWidget{
    display: flex;
    margin: 15px;
}


.button{
    height: 30px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}


/* buscador */

.searchContainer{
    display: flex;
    border: 0.5px solid lightgray;
    align-items: center;
    border-radius: 5px;
    margin-left: 25px;
    padding: 5px;
    width: 50%;
}

.searchContainer:hover{
    cursor: text;
    transform: translateY(-5px);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.25s;
}

.SearchIcon{
    color: gray;
}

.input{
    border: none;
    background-color: #E3E6F3;
    width: 100%;
    text-align: center;
    opacity: 0.6;
    outline: none;
}