/* BARRA DE NAVEGACION */

.logo{
    width: 150px;
    display: flex;
}


.NavBar{
    display: flex;
    width: 100%;
    background-color: gray;
}


.navItem{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}


.navItem li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}


.navItem li a:hover {    
    color: #088178;
}


.Categories{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}


.ActiveOption, 
.Option {
    margin: 20px;
    background: blue;
    padding: 10px;
    border-radius: 10px;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

.logoH3{
    padding: 5px;
}

.CartWidget{
    display: flex;
    margin: 15px;
}

.button{
    height: 30px;
    margin: 20px;
    background: blue;
    padding: 10px;
    border-radius: 10px;
}

