/* BARRA DE NAVEGACION */

.logo{
    font-family: 'Hurricane', cursive;

}

.NavBar{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: gray;
}

.navItem{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.navItem li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

.navItem li a:hover {    
    color: #088178;
}

.Categorias{
    margin: 20px;
    width: 600px;
    padding: 10px;
    border-radius: 10px;
    
}

.ActiveOption, 
.Option {
    margin: 20px;
    background: blue;
    padding: 10px;
    border-radius: 10px;
}
ul{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

.CartWidget{
    display: flex;
    margin: 15px;
}

.button{
    height: 30px;
    margin: 10px;
}